@import "./vars";

// GENERAL PROPERTIES

:root {
	--cnv-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
	--cnv-border-radius: .25rem;
	--cnv-transition: background .25s, opacity .15s, color .25s;
	--cnv-outline-width: 3px;
	--cnv-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-color, $lightness: 70%)};

	--cnv-elements-font-size: 1rem;

	// SIZES
	--cnv-size-mini: .7em;
	--cnv-size-small: .8em;
	--cnv-size-large: 1.15em;
	--cnv-size-huge: 1.3em;

	// COLORS

	--cnv-color-invert: white;

	@each $name, $values in $cnv-base-colors {
		@each $tintValue, $color in $values {
			--cnv-color-#{$name}-#{$tintValue}: #{$color};
		}
	}

	// COLORS
	//--cnv-color: #{$cnv-color};
	//--cnv-color-light: #{adjust-color($cnv-color, $lightness:45%)};

	//--cnv-color-invert: #{$cnv-color-invert};
	//--cnv-color-invert-light: #{adjust-color($cnv-color-invert, $lightness:50%)};

	//--cnv-primary: #{$cnv-primary};
	//--cnv-primary-light: #{adjust-color($cnv-primary, $lightness:33%)};
	//--cnv-primary-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-primary, $alpha:-.5)};


	//--cnv-secondary: #{$cnv-secondary};
	//--cnv-secondary-light: #{adjust-color($cnv-secondary, $lightness:50%)};
	//--cnv-secondary-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-secondary, $alpha:-.5)};

	//--cnv-danger: #{$cnv-danger};
	//--cnv-danger-light: #{adjust-color($cnv-danger, $lightness:43%)};
	//--cnv-danger-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-danger, $alpha:-.7)};

	//--cnv-success: #{$cnv-success};
	//--cnv-success-light: #{adjust-color($cnv-success, $lightness:51%)};
	//--cnv-success-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-success, $alpha:-.7)};

	//--cnv-subtle: #{$cnv-subtle};
	//--cnv-subtle-light: #{adjust-color($cnv-subtle, $lightness:50%)};
	//--cnv-subtle-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-color, $alpha:-.75)};

	//--cnv-invert: var(--cnv-color);
	//--cnv-invert-light: #{adjust-color($cnv-color, $lightness:50%)};
	//--cnv-invert-focus-outline: var(--cnv-outline-width) solid #{adjust-color($cnv-color, $alpha:-.6)};
}

//:root {
//	--cnv-button-bd-radius: 0;
//}