$cv-colorNames: "primary", "secondary", "danger", "white", "light", "dark";

$cv-text-color: #222;

$cv-primary: #4e3bf5;
$cv-secondary: #4ab1ff;
$cv-danger: #e23737;
$cv-light: #ebecf5;
$cv-dark: #333545;