:root {
  --cv-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --cv-border-radius: calc(.2rem + .1em);
  --cv-transition-time: .12s;
  --cv-text-color: #222;
  --cv-primary: #4e3bf5;
  --cv-primary-hover: #240cf1;
  --cv-primary-active: #1c0ac0;
  --cv-primary-content: white;
  --cv-primary-border: none;
  --cv-primary-focus-box-shadow: 0 0 0 3px rgba(78, 59, 245, 0.5);
  --cv-secondary: #4ab1ff;
  --cv-secondary-hover: #179bff;
  --cv-secondary-active: #0081e3;
  --cv-secondary-content: white;
  --cv-secondary-border: none;
  --cv-secondary-focus-box-shadow: 0 0 0 3px rgba(74, 177, 255, 0.5);
  --cv-danger: #e23737;
  --cv-danger-hover: #c91d1d;
  --cv-danger-active: #9c1717;
  --cv-danger-content: white;
  --cv-danger-border: none;
  --cv-danger-focus-box-shadow: 0 0 0 3px rgba(226, 55, 55, 0.5);
  --cv-white: white;
  --cv-white-hover: #ebecf5;
  --cv-white-active: #d3d5e9;
  --cv-white-content: var(--cv-text-color);
  --cv-white-border: none;
  --cv-white-focus-box-shadow: 0 0 0 3px rgba(78, 59, 245, 0.5);
  --cv-light: #ebecf5;
  --cv-light-hover: #d3d5e9;
  --cv-light-active: #bbbfdd;
  --cv-light-content: var(--cv-text-color);
  --cv-light-border: none;
  --cv-light-focus-box-shadow: 0 0 0 3px rgba(78, 59, 245, 0.5);
  --cv-dark: #333545;
  --cv-dark-hover: #242530;
  --cv-dark-active: #08080a;
  --cv-dark-content: white;
  --cv-dark-border: none;
  --cv-dark-focus-box-shadow: 0 0 0 3px rgba(51, 53, 69, 0.5);
}

:root {
  --cv-button-horizontal-padding: .75em;
  --cv-button-horizontal-padding-rounded: 1em;
  --cv-button-base-height: 2.5em;
  --cv-button-border: none;
  --cv-button-base-font-size: .9rem;
  --cv-button-text-transform: none;
  --cv-button-font-weight: 400;
  --cv-button-icon-size: 1.1em;
  --cv-button-icon-margin: .5em;
  --cv-button-font-size-mini: .7em;
  --cv-button-font-size-small: .8em;
  --cv-button-font-size-large: 1.15em;
  --cv-button-font-size-huge: 1.3em;
  --cv-button-cursor: pointer;
  --cv-button-focus-blur: 4px;
  --cv-button-disabled-opacity: .5;
  --cv-button-disabled-cursor: not-allowed;
}

button.cv {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  padding: 0 var(--cv-button-horizontal-padding);
  border-radius: var(--cv-button-border-radius, var(--cv-border-radius));
  height: var(--cv-button-base-height);
  font-size: var(--cv-button-base-font-size);
  font-family: var(--cv-font-family);
  font-weight: var(--cv-button-font-weight);
  text-transform: var(--cv-button-text-transform);
  transition: all var(--cv-transition-time);
  cursor: var(--cv-button-cursor);
}
button.cv:disabled {
  opacity: var(--cv-button-disabled-opacity);
  cursor: var(--cv-button-disabled-cursor);
}
button.cv.mini {
  font-size: var(--cv-button-font-size-mini);
}
button.cv.small {
  font-size: var(--cv-button-font-size-small);
}
button.cv.large {
  font-size: var(--cv-button-font-size-large);
}
button.cv.huge {
  font-size: var(--cv-button-font-size-huge);
}

button.cv {
  color: var(--cv-primary-content);
  background-color: var(--cv-primary);
  border: var(--cv-primary-border);
}
button.cv:hover:enabled:not(.outlined) {
  background-color: var(--cv-primary-hover);
}
button.cv:focus-visible {
  box-shadow: var(--cv-primary-focus-box-shadow);
}
button.cv:active:enabled:not(.outlined) {
  background-color: var(--cv-primary-active);
}
button.cv.outlined {
  background-color: white;
  border: 1px solid var(--cv-primary);
  color: var(--cv-primary);
}
button.cv.outlined:hover {
  background-color: var(--cv-primary);
  border: 1px solid var(--cv-primary);
  color: var(--cv-primary-content);
}

button.cv.secondary {
  color: var(--cv-secondary-content);
  background-color: var(--cv-secondary);
  border: var(--cv-secondary-border);
}
button.cv.secondary:hover:enabled:not(.outlined) {
  background-color: var(--cv-secondary-hover);
}
button.cv.secondary:focus-visible {
  box-shadow: var(--cv-secondary-focus-box-shadow);
}
button.cv.secondary:active:enabled:not(.outlined) {
  background-color: var(--cv-secondary-active);
}
button.cv.secondary.outlined {
  background-color: white;
  border: 1px solid var(--cv-secondary);
  color: var(--cv-secondary);
}
button.cv.secondary.outlined:hover {
  background-color: var(--cv-secondary);
  border: 1px solid var(--cv-secondary);
  color: var(--cv-secondary-content);
}

button.cv.danger {
  color: var(--cv-danger-content);
  background-color: var(--cv-danger);
  border: var(--cv-danger-border);
}
button.cv.danger:hover:enabled:not(.outlined) {
  background-color: var(--cv-danger-hover);
}
button.cv.danger:focus-visible {
  box-shadow: var(--cv-danger-focus-box-shadow);
}
button.cv.danger:active:enabled:not(.outlined) {
  background-color: var(--cv-danger-active);
}
button.cv.danger.outlined {
  background-color: white;
  border: 1px solid var(--cv-danger);
  color: var(--cv-danger);
}
button.cv.danger.outlined:hover {
  background-color: var(--cv-danger);
  border: 1px solid var(--cv-danger);
  color: var(--cv-danger-content);
}

button.cv.white {
  color: var(--cv-white-content);
  background-color: var(--cv-white);
  border: var(--cv-white-border);
}
button.cv.white:hover:enabled:not(.outlined) {
  background-color: var(--cv-white-hover);
}
button.cv.white:focus-visible {
  box-shadow: var(--cv-white-focus-box-shadow);
}
button.cv.white:active:enabled:not(.outlined) {
  background-color: var(--cv-white-active);
}
button.cv.white.outlined {
  background-color: white;
  border: 1px solid var(--cv-white);
  color: var(--cv-white);
}
button.cv.white.outlined:hover {
  background-color: var(--cv-white);
  border: 1px solid var(--cv-white);
  color: var(--cv-white-content);
}

button.cv.light {
  color: var(--cv-light-content);
  background-color: var(--cv-light);
  border: var(--cv-light-border);
}
button.cv.light:hover:enabled:not(.outlined) {
  background-color: var(--cv-light-hover);
}
button.cv.light:focus-visible {
  box-shadow: var(--cv-light-focus-box-shadow);
}
button.cv.light:active:enabled:not(.outlined) {
  background-color: var(--cv-light-active);
}
button.cv.light.outlined {
  background-color: white;
  border: 1px solid var(--cv-light);
  color: var(--cv-light);
}
button.cv.light.outlined:hover {
  background-color: var(--cv-light);
  border: 1px solid var(--cv-light);
  color: var(--cv-light-content);
}

button.cv.dark {
  color: var(--cv-dark-content);
  background-color: var(--cv-dark);
  border: var(--cv-dark-border);
}
button.cv.dark:hover:enabled:not(.outlined) {
  background-color: var(--cv-dark-hover);
}
button.cv.dark:focus-visible {
  box-shadow: var(--cv-dark-focus-box-shadow);
}
button.cv.dark:active:enabled:not(.outlined) {
  background-color: var(--cv-dark-active);
}
button.cv.dark.outlined {
  background-color: white;
  border: 1px solid var(--cv-dark);
  color: var(--cv-dark);
}
button.cv.dark.outlined:hover {
  background-color: var(--cv-dark);
  border: 1px solid var(--cv-dark);
  color: var(--cv-dark-content);
}

button.with-icon {
  display: inline-flex;
  align-items: center;
}
button.with-icon .icon {
  width: var(--cv-button-icon-size);
  height: var(--cv-button-icon-size);
  margin-right: var(--cv-button-icon-margin);
}

button.rounded {
  border-radius: 1000px;
  padding: 0 var(--cv-button-horizontal-padding-rounded);
}

button.block {
  display: block;
  width: 100%;
}

/*# sourceMappingURL=build.css.map */
