:root {
  --cnv-font-family: -apple-system, BlinkMacSystemFont, Helvetica, Arial, sans-serif;
  --cnv-border-radius: .25rem;
  --cnv-transition: background .25s, opacity .15s, color .25s;
  --cnv-outline-width: 3px;
  --cnv-focus-outline: var(--cnv-outline-width) solid #ebebed;
  --cnv-elements-font-size: 1rem;
  --cnv-size-mini: .7em;
  --cnv-size-small: .8em;
  --cnv-size-large: 1.15em;
  --cnv-size-huge: 1.3em;
  --cnv-color-invert: white;
  --cnv-color-text-25: #f4f4f6;
  --cnv-color-text-50: #E9E9EC;
  --cnv-color-text-100: #D6D6DB;
  --cnv-color-text-200: #ABABB5;
  --cnv-color-text-300: #838391;
  --cnv-color-text-400: #5B5B67;
  --cnv-color-text-500: #36363D;
  --cnv-color-text-600: #2B2B31;
  --cnv-color-text-700: #222226;
  --cnv-color-text-800: #161618;
  --cnv-color-text-900: #0C0C0E;
  --cnv-color-primary-25: #f7f7ff;
  --cnv-color-primary-50: #ECEDFE;
  --cnv-color-primary-100: #D9DAFD;
  --cnv-color-primary-200: #B7BAFB;
  --cnv-color-primary-300: #9096F8;
  --cnv-color-primary-400: #6A71F6;
  --cnv-color-primary-500: #474FF4;
  --cnv-color-primary-600: #0E19EC;
  --cnv-color-primary-700: #0B13B2;
  --cnv-color-primary-800: #070D78;
  --cnv-color-primary-900: #03063A;
  --cnv-color-secondary-25: #f2f9ff;
  --cnv-color-secondary-50: #EBF6FF;
  --cnv-color-secondary-100: #D6EDFF;
  --cnv-color-secondary-200: #ADDCFF;
  --cnv-color-secondary-300: #85CAFF;
  --cnv-color-secondary-400: #5CB8FF;
  --cnv-color-secondary-500: #33A7FF;
  --cnv-color-secondary-600: #008BF5;
  --cnv-color-secondary-700: #0068B8;
  --cnv-color-secondary-800: #00457A;
  --cnv-color-secondary-900: #00233D;
  --cnv-color-success-25: #f5fff6;
  --cnv-color-success-50: #ECF9ED;
  --cnv-color-success-100: #D5F1D7;
  --cnv-color-success-200: #AFE4B2;
  --cnv-color-success-300: #85D689;
  --cnv-color-success-400: #5BC761;
  --cnv-color-success-500: #3CB042;
  --cnv-color-success-600: #308D35;
  --cnv-color-success-700: #246B28;
  --cnv-color-success-800: #19481B;
  --cnv-color-success-900: #0C220D;
  --cnv-color-danger-25: #fff5f5;
  --cnv-color-danger-50: #FCEDED;
  --cnv-color-danger-100: #F9D7D7;
  --cnv-color-danger-200: #F3AFAF;
  --cnv-color-danger-300: #EE8787;
  --cnv-color-danger-400: #E85F5F;
  --cnv-color-danger-500: #E23737;
  --cnv-color-danger-600: #C41C1C;
  --cnv-color-danger-700: #931515;
  --cnv-color-danger-800: #620E0E;
  --cnv-color-danger-900: #310707;
}

:root {
  --cnv-button-horizontal-padding: .75em;
  --cnv-button-height: 2.5em;
  --cnv-button-color: var(--cnv-color-invert);
  --cnv-button-border: none;
  --cnv-button-background: var(--cnv-color-primary-500);
  --cnv-button-hover-color: var(--cnv-color-invert);
  --cnv-button-hover-background: var(--cnv-color-primary-600);
  --cnv-button-focus-outline: 3px solid var(--cnv-color-primary-200);
  --cnv-button-active-opacity: .75;
  --cnv-button-font-family: var(--cnv-font-family);
  --cnv-button-font-size: var(--cnv-elements-font-size);
  --cnv-button-text-transform: none;
  --cnv-button-font-weight: 400;
  --cnv-button-outlined-color: var(--cnv-color-primary-500);
  --cnv-button-outlined-border: 1px solid var(--cnv-color-primary-500);
  --cnv-button-outlined-hover-background: var(--cnv-color-primary-500);
  --cnv-button-outlined-hover-color: var(--cnv-color-invert);
  --cnv-button-subtle-color: var(--cnv-color-primary-500);
  --cnv-button-subtle-background: var(--cnv-color-primary-25);
  --cnv-button-subtle-hover-background: var(--cnv-color-primary-50);
  --cnv-button-text-only-color: var(--cnv-color-primary-500);
  --cnv-button-text-only-hover-background: var(--cnv-color-primary-25);
  --cnv-button-transparent-hover-background: #eee;
  --cnv-button-transparent-hover-color: auto;
  --cnv-button-round-horizontal-padding: 1em;
  --cnv-button-icon-size: 1.25em;
  --cnv-button-icon-margin: .5em;
  --cnv-button-font-size-mini: var(--cnv-size-mini);
  --cnv-button-font-size-small: var(--cnv-size-small);
  --cnv-button-font-size-large: var(--cnv-size-large);
  --cnv-button-font-size-huge: var(--cnv-size-huge);
  --cnv-button-cursor: pointer;
  --cnv-button-disabled-opacity: .6;
  --cnv-button-disabled-cursor: not-allowed;
  --cnv-button-box-shadow: none;
  --cnv-primary-button-color: var(--cnv-color-invert);
  --cnv-primary-button-border: none;
  --cnv-primary-button-background: var(--cnv-primary);
  --cnv-primary-button-hover-background: #1721f1;
  --cnv-primary-button-hover-color: var(--cnv-color-invert);
  --cnv-primary-button-outlined-border: 1px solid var(--cnv-primary);
  --cnv-primary-button-transparent-background: rgba(71, 79, 244, 0.05);
  --cnv-primary-button-transparent-hover-background: rgba(71, 79, 244, 0.1);
  --cnv-primary-button-text-only-hover-background: rgba(71, 79, 244, 0.05);
  --cnv-secondary-button-color: var(--cnv-color-invert);
  --cnv-secondary-button-border: none;
  --cnv-secondary-button-background: #33a7ff;
  --cnv-secondary-button-hover-background: #0a95ff;
  --cnv-secondary-button-hover-color: var(--cnv-color-invert);
  --cnv-secondary-button-outlined-border: 1px solid var(--cnv-secondary);
  --cnv-secondary-button-transparent-background: rgba(51, 167, 255, 0.07);
  --cnv-secondary-button-transparent-hover-background: rgba(51, 167, 255, 0.12);
  --cnv-secondary-button-text-only-hover-background: rgba(51, 167, 255, 0.07);
  --cnv-danger-button-color: var(--cnv-color-invert);
  --cnv-danger-button-border: none;
  --cnv-danger-button-background: #e23737;
  --cnv-danger-button-hover-background: #d21e1e;
  --cnv-danger-button-hover-color: var(--cnv-color-invert);
  --cnv-danger-button-outlined-border: 1px solid var(--cnv-danger);
  --cnv-danger-button-transparent-background: rgba(226, 55, 55, 0.05);
  --cnv-danger-button-transparent-hover-background: rgba(226, 55, 55, 0.1);
  --cnv-danger-button-text-only-hover-background: rgba(226, 55, 55, 0.05);
  --cnv-success-button-color: var(--cnv-color-invert);
  --cnv-success-button-border: none;
  --cnv-success-button-background: #3cb042;
  --cnv-success-button-hover-background: #329237;
  --cnv-success-button-hover-color: var(--cnv-color-invert);
  --cnv-success-button-outlined-border: 1px solid var(--cnv-success);
  --cnv-success-button-transparent-background: rgba(60, 176, 66, 0.05);
  --cnv-success-button-transparent-hover-background: rgba(60, 176, 66, 0.1);
  --cnv-success-button-text-only-hover-background: rgba(60, 176, 66, 0.05);
  --cnv-subtle-button-background: #f0f0f5;
  --cnv-subtle-button-color: var(--cnv-color);
  --cnv-subtle-button-border: none;
  --cnv-subtle-button-hover-background: #e7e7ef;
  --cnv-subtle-button-hover-color: var(--cnv-color);
  --cnv-subtle-button-outlined-border: 1px solid var(--cnv-subtle);
  --cnv-subtle-button-transparent-background: rgba(54, 54, 61, 0.03);
  --cnv-subtle-button-transparent-hover-background: rgba(54, 54, 61, 0.06);
  --cnv-subtle-button-text-only-hover-background: rgba(54, 54, 61, 0.03);
  --cnv-invert-button-border: none;
  --cnv-invert-button-color: var(--cnv-color-invert);
  --cnv-invert-button-background: var(--cnv-color);
  --cnv-invert-button-hover-background: #060607;
  --cnv-invert-button-hover-color: var(--cnv-color-invert);
  --cnv-invert-button-outlined-border: 1px solid var(--cnv-color);
  --cnv-invert-button-transparent-background: rgba(54, 54, 61, 0.07);
  --cnv-invert-button-transparent-hover-background: rgba(54, 54, 61, 0.12);
  --cnv-invert-button-text-only-hover-background: rgba(54, 54, 61, 0.07);
}

button.cnv {
  all: unset;
  box-sizing: border-box;
  text-align: center;
  vertical-align: middle;
  outline: 3px solid transparent;
  color: var(--cnv-button-color);
  background: var(--cnv-button-background);
  border: var(--cnv-button-border);
  padding: 0 var(--cnv-button-horizontal-padding);
  border-radius: var(--cnv-button-border-radius, var(--cnv-border-radius));
  height: var(--cnv-button-height);
  font-family: var(--cnv-button-font-family);
  font-size: var(--cnv-button-font-size);
  font-weight: var(--cnv-button-font-weight);
  text-transform: var(--cnv-button-text-transform);
  transition: var(--cnv-transition);
  cursor: var(--cnv-button-cursor);
  box-shadow: var(--cnv-button-box-shadow);
}
button.cnv:enabled:hover {
  background: var(--cnv-button-hover-background);
  color: var(--cnv-button-hover-color);
}
button.cnv:enabled:active {
  opacity: var(--cnv-button-active-opacity);
}
button.cnv:enabled:focus-visible {
  outline: var(--cnv-button-focus-outline);
}
button.cnv:disabled {
  opacity: var(--cnv-button-disabled-opacity);
  cursor: var(--cnv-button-disabled-cursor);
}
button.cnv.mini {
  font-size: var(--cnv-button-font-size-mini);
}
button.cnv.small {
  font-size: var(--cnv-button-font-size-small);
}
button.cnv.large {
  font-size: var(--cnv-button-font-size-large);
}
button.cnv.huge {
  font-size: var(--cnv-button-font-size-huge);
}
button.cnv.with-icon {
  display: inline-flex;
  align-items: center;
}
button.cnv.with-icon .icon {
  width: var(--cnv-button-icon-size);
  height: var(--cnv-button-icon-size);
  margin-right: var(--cnv-button-icon-margin);
}
button.cnv.icon {
  width: var(--cnv-button-height);
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
button.cnv.icon .icon {
  width: var(--cnv-button-icon-size);
  height: var(--cnv-button-icon-size);
}
button.cnv.icon.round {
  padding: 0;
}
button.cnv.round {
  border-radius: 1000px;
  padding: 0 var(--cnv-button-round-horizontal-padding);
}
button.cnv.block {
  display: block;
  width: 100%;
}
button.cnv.outlined {
  color: var(--cnv-button-outlined-color);
  border: var(--cnv-button-outlined-border);
  background: transparent;
}
button.cnv.outlined:hover {
  background: var(--cnv-button-outlined-hover-background);
  color: var(--cnv-button-outlined-hover-color);
}
button.cnv.subtle {
  color: var(--cnv-button-subtle-color);
  background: var(--cnv-button-subtle-background);
}
button.cnv.subtle:hover {
  color: var(--cnv-button-subtle-color);
  background: var(--cnv-button-subtle-hover-background);
}
button.cnv.text-only {
  color: var(--cnv-button-text-only-color);
  background: transparent;
}
button.cnv.text-only:hover {
  color: var(--cnv-button-text-only-color);
  background: var(--cnv-button-text-only-hover-background);
}

button.cnv.secondary {
  --cnv-button-color: var(--cnv-color-invert);
  --cnv-button-background: var(--cnv-color-secondary-500);
}
button.cnv.secondary:enabled:hover {
  --cnv-button-hover-background: var(--cnv-color-secondary-600);
  --cnv-button-hover-color: var(--cnv-color-invert);
}
button.cnv.secondary:enabled:focus-visible {
  --cnv-button-focus-outline: var(--cnv-secondary-focus-outline);
}
button.cnv.secondary.outlined {
  --cnv-button-outlined-color: var(--cnv-color-secondary-500);
  --cnv-button-outlined-border: 1px solid var(--cnv-color-secondary-500);
}
button.cnv.secondary.outlined:hover {
  --cnv-button-outlined-hover-background: var(--cnv-color-secondary-500);
  --cnv-button-outlined-hover-color: var(--cnv-color-invert);
}
button.cnv.secondary.subtle {
  --cnv-button-subtle-color: var(--cnv-color-secondary-500);
  --cnv-button-subtle-background: var(--cnv-color-secondary-25);
}
button.cnv.secondary.subtle:hover {
  --cnv-button-subtle-hover-background: var(--cnv-color-secondary-50);
}
button.cnv.secondary.text-only {
  --cnv-button-text-only-color: var(--cnv-color-secondary-500);
}
button.cnv.secondary.text-only:hover {
  --cnv-button-text-only-hover-background: var(--cnv-color-secondary-25);
}

button.cnv.danger {
  --cnv-button-color: var(--cnv-color-invert);
  --cnv-button-background: var(--cnv-color-danger-500);
}
button.cnv.danger:enabled:hover {
  --cnv-button-hover-background: var(--cnv-color-danger-600);
  --cnv-button-hover-color: var(--cnv-color-invert);
}
button.cnv.danger:enabled:focus-visible {
  --cnv-button-focus-outline: var(--cnv-danger-focus-outline);
}
button.cnv.danger.outlined {
  --cnv-button-outlined-color: var(--cnv-color-danger-500);
  --cnv-button-outlined-border: 1px solid var(--cnv-color-danger-500);
}
button.cnv.danger.outlined:hover {
  --cnv-button-outlined-hover-background: var(--cnv-color-danger-500);
  --cnv-button-outlined-hover-color: var(--cnv-color-invert);
}
button.cnv.danger.subtle {
  --cnv-button-subtle-color: var(--cnv-color-danger-500);
  --cnv-button-subtle-background: var(--cnv-color-danger-25);
}
button.cnv.danger.subtle:hover {
  --cnv-button-subtle-hover-background: var(--cnv-color-danger-50);
}
button.cnv.danger.text-only {
  --cnv-button-text-only-color: var(--cnv-color-danger-500);
}
button.cnv.danger.text-only:hover {
  --cnv-button-text-only-hover-background: var(--cnv-color-danger-25);
}

button.cnv.success {
  --cnv-button-color: var(--cnv-color-invert);
  --cnv-button-background: var(--cnv-color-success-500);
}
button.cnv.success:enabled:hover {
  --cnv-button-hover-background: var(--cnv-color-success-600);
  --cnv-button-hover-color: var(--cnv-color-invert);
}
button.cnv.success:enabled:focus-visible {
  --cnv-button-focus-outline: var(--cnv-success-focus-outline);
}
button.cnv.success.outlined {
  --cnv-button-outlined-color: var(--cnv-color-success-500);
  --cnv-button-outlined-border: 1px solid var(--cnv-color-success-500);
}
button.cnv.success.outlined:hover {
  --cnv-button-outlined-hover-background: var(--cnv-color-success-500);
  --cnv-button-outlined-hover-color: var(--cnv-color-invert);
}
button.cnv.success.subtle {
  --cnv-button-subtle-color: var(--cnv-color-success-500);
  --cnv-button-subtle-background: var(--cnv-color-success-25);
}
button.cnv.success.subtle:hover {
  --cnv-button-subtle-hover-background: var(--cnv-color-success-50);
}
button.cnv.success.text-only {
  --cnv-button-text-only-color: var(--cnv-color-success-500);
}
button.cnv.success.text-only:hover {
  --cnv-button-text-only-hover-background: var(--cnv-color-success-25);
}

button.cnv.contrast {
  --cnv-button-color: var(--cnv-color-invert);
  --cnv-button-background: var(--cnv-color-text-500);
}
button.cnv.contrast:enabled:hover {
  --cnv-button-hover-background: var(--cnv-color-text-600);
  --cnv-button-hover-color: var(--cnv-color-invert);
}
button.cnv.contrast:enabled:focus-visible {
  --cnv-button-focus-outline: var(--cnv-contrast-focus-outline);
}
button.cnv.contrast.outlined {
  --cnv-button-outlined-color: var(--cnv-color-text-500);
  --cnv-button-outlined-border: 1px solid var(--cnv-color-text-500);
}
button.cnv.contrast.outlined:hover {
  --cnv-button-outlined-hover-background: var(--cnv-color-text-500);
  --cnv-button-outlined-hover-color: var(--cnv-color-invert);
}
button.cnv.contrast.subtle {
  --cnv-button-subtle-color: var(--cnv-color-text-500);
  --cnv-button-subtle-background: var(--cnv-color-text-25);
}
button.cnv.contrast.subtle:hover {
  --cnv-button-subtle-hover-background: var(--cnv-color-text-50);
}
button.cnv.contrast.text-only {
  --cnv-button-text-only-color: var(--cnv-color-text-500);
}
button.cnv.contrast.text-only:hover {
  --cnv-button-text-only-hover-background: var(--cnv-color-text-25);
}

:root {
  --cnv-input-horizontal-padding: .6em;
  --cnv-input-height: 2.5em;
  --cnv-input-color: var(--cnv-color);
  --cnv-input-border: 1px solid var(--cnv-color-light);
  --cnv-input-background: white;
  --cnv-input-focus-outline: var(--cnv-focus-outline);
  --cnv-input-focus-border: 1px solid var(--cnv-color);
  --cnv-input-font-family: var(--cnv-font-family);
  --cnv-input-font-size: 1rem;
  --cnv-input-text-transform: none;
  --cnv-input-font-weight: 400;
  --cnv-input-font-size-mini: var(--cnv-size-mini);
  --cnv-input-font-size-small: var(--cnv-size-small);
  --cnv-input-font-size-large: var(--cnv-size-large);
  --cnv-input-font-size-huge: var(--cnv-size-huge);
  --cnv-input-valid-background: white;
  --cnv-input-valid-color: var(--cnv-color);
  --cnv-input-valid-border: 1px solid var(--cnv-success);
  --cnv-input-valid-focus-outline: var(--cnv-success-focus-outline);
  --cnv-input-valid-focus-border: 1px solid var(--cnv-success);
  --cnv-input-invalid-background: white;
  --cnv-input-invalid-color: var(--cnv-color);
  --cnv-input-invalid-border: 1px solid var(--cnv-danger);
  --cnv-input-invalid-focus-outline: var(--cnv-danger-focus-outline);
  --cnv-input-invalid-focus-border: 1px solid var(--cnv-danger);
  --cnv-input-disabled-opacity: .6;
  --cnv-input-disabled-cursor: not-allowed;
  --cnv-input-disabled-background: #f6f6f6;
  --cnv-input-box-shadow: none;
}

input.cnv {
  all: unset;
  box-sizing: border-box;
  color: var(--cnv-input-color);
  background: var(--cnv-input-background);
  border: var(--cnv-input-border);
  outline: var(--cnv-outline-width) solid transparent;
  padding: 0 var(--cnv-input-horizontal-padding);
  border-radius: var(--cnv-input-border-radius, var(--cnv-border-radius));
  height: var(--cnv-input-height);
  font-family: var(--cnv-input-font-family);
  font-size: var(--cnv-input-font-size);
  font-weight: var(--cnv-input-font-weight);
  text-transform: var(--cnv-input-text-transform);
  transition: all var(--cnv-transition-time);
}
input.cnv.mini {
  font-size: var(--cnv-input-font-size-mini);
}
input.cnv.small {
  font-size: var(--cnv-input-font-size-small);
}
input.cnv.large {
  font-size: var(--cnv-input-font-size-large);
}
input.cnv.huge {
  font-size: var(--cnv-input-font-size-huge);
}
input.cnv:focus-visible {
  outline: var(--cnv-input-focus-outline);
  border: var(--cnv-input-focus-border);
}
input.cnv:disabled {
  opacity: var(--cnv-input-disabled-opacity);
  cursor: var(--cnv-input-disabled-cursor);
  background: var(--cnv-input-disabled-background);
}
input.valid, .use-pseudo input:valid {
  background: var(--cnv-input-valid-background);
  color: var(--cnv-input-valid-color);
  border: var(--cnv-input-valid-border);
}
input.valid:focus-visible, .use-pseudo input:valid:focus-visible {
  outline: var(--cnv-input-valid-focus-outline);
  border: var(--cnv-input-valid-focus-border);
}

input.invalid, .use-pseudo input:invalid {
  background: var(--cnv-input-invalid-background);
  color: var(--cnv-input-invalid-color);
  border: var(--cnv-input-invalid-border);
}
input.invalid:focus-visible, .use-pseudo input:invalid:focus-visible {
  outline: var(--cnv-input-invalid-focus-outline);
  border: var(--cnv-input-invalid-focus-border);
}

/*# sourceMappingURL=carnival.css.map */
